html {
  height: 100%;
  margin: 0;
}
* {
  font-family: 'Google Sans', sans-serif;
  background-color: var(--nord0);
  color: var(--nord4);
}
body {
  display: flex;
  margin-top: 30vh;
  align-items: center;
  flex-flow: column;
}
h1 {
  margin: 0;
}
p {
  margin: 0.5em 0 0 0;
}
a {
  color: var(--nord9);
}
a:active {
  color: var(--nord11);
}
